@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family:'CoreGothic';
  src:url('../font/CoreGothicD-3Light.eot');
  src:url('../font/CoreGothicD-3Light.woff2') format('woff2'),
       url('../font/CoreGothicD-3Light.woff') format('woff'),
       url('../font/CoreGothicD-3Light.svg#CoreGothicD-3Light') format('svg'),
       url('../font/CoreGothicD-3Light.eot?#iefix') format('embedded-opentype');
  font-weight:300;
  font-style:normal;
}

@font-face {
  font-family:'CoreGothic';
  src:url('../font/CoreGothicD-7ExtraBold.eot');
  src:url('../font/CoreGothicD-7ExtraBold.woff2') format('woff2'),
       url('../font/CoreGothicD-7ExtraBold.woff') format('woff'),
       url('../font/CoreGothicD-7ExtraBold.svg#CoreGothicD-7ExtraBold') format('svg'),
       url('../font/CoreGothicD-7ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight:800;
  font-style:normal;
}

@font-face {
  font-family:'CoreGothic';
  src:url('../font/CoreGothicM-5Medium.eot');
  src:url('../font/CoreGothicM-5Medium.woff2') format('woff2'),
       url('../font/CoreGothicM-5Medium.woff') format('woff'),
       url('../font/CoreGothicM-5Medium.svg#CoreGothicM-5Medium') format('svg'),
       url('../font/CoreGothicM-5Medium.eot?#iefix') format('embedded-opentype');
  font-weight:500;
  font-style:normal;
}